.bg-mainColor {
  background-color: #912d25; }

.horizontalUl li {
  list-style: none;
  float: left; }

.horizontalUl li span, .horizontalUl li i {
  color: #ffffff; }

.horizontalUl li a {
  color: #ffffff;
  display: block;
  padding: 5px; }

.horizontalUl li i {
  padding: 0px 50px; }

.centerTitleText {
  text-align: center; }
  .centerTitleText h3 {
    text-align: center;
    margin: 25px 0px 10px 0px;
    text-transform: uppercase; }
  .centerTitleText span {
    display: block;
    width: 50px;
    border-bottom: 1px solid #000000;
    margin: auto; }

.button {
  text-align: center;
  text-decoration: none;
  padding: 5px 0px;
  border-radius: 4px;
  display: inline-block; }

.primaryButton {
  background-color: #912d25;
  color: #ffffff;
  border: 1px solid #912d25; }

.liteButton {
  color: #912d25;
  border: 1px solid #912d25;
  background-color: #ffffff; }

.longButton {
  padding: 5px 30px; }

.thickButton {
  padding: 15px; }

.row.shadow {
  clear: both;
  background-image: url("../images/lineBottomShadow.png");
  background-repeat: no-repeat;
  background-position: center top;
  height: 20px; }

.bgCover {
  background-size: cover; }

.logo {
  max-width: 100%; }

#topPageIconsBar {
  float: right;
  background-image: url("../images/cornerImg.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 40px 100%; }

.mainMenu li a span {
  color: #000000; }

#pricesLine {
  background-color: #32302f; }
  #pricesLine .oneSymbolPrice {
    float: left;
    padding: 3px; }
    #pricesLine .oneSymbolPrice i.up {
      color: green; }
    #pricesLine .oneSymbolPrice i.down {
      color: red; }
    #pricesLine .oneSymbolPrice label {
      color: #c7462e;
      margin: 0px; }
    #pricesLine .oneSymbolPrice span {
      color: #ffffff; }

#openAccountButtonsContainer {
  margin-top: 15px;
  margin-bottom: 30px; }
  #openAccountButtonsContainer .button {
    width: 40%; }
  #openAccountButtonsContainer .liteButton {
    margin-left: 10%; }

#mapGroupContainer {
  display: inline-block;
  background-color: #F2F2F2; }
  #mapGroupContainer #leftImgContainer img {
    max-width: 100%; }
  #mapGroupContainer .oneGroup {
    padding: 20px; }
    #mapGroupContainer .oneGroup span {
      float: left;
      margin: 0px 10px 10px 0px;
      display: block;
      font-size: 40px; }
      #mapGroupContainer .oneGroup span img {
        max-width: 40px;
        height: auto; }
    #mapGroupContainer .oneGroup h6 {
      color: #912d25; }
    #mapGroupContainer .oneGroup p {
      margin: 5px 0px;
      padding-left: 50px; }

.oneDescriptionWithButton img {
  float: left;
  width: 50px;
  margin: 10px; }
.oneDescriptionWithButton a {
  display: block;
  width: 150px;
  margin: auto; }

#softwareBanner {
  margin: 50px 0px;
  margin-bottom: 150px;
  background-image: url("../images/platformsBackground.png");
  height: 267px;
  padding-top: 50px; }
  #softwareBanner .innerContainer {
    background-image: url(../images/computerPlatforms.png);
    background-size: 451px 270px;
    background-position: right 40px;
    background-repeat: no-repeat;
    display: inline-block;
    margin-top: 20px;
    padding-top: 70px;
    height: 270px;
    margin-bottom: -80px;
    padding-right: 405px; }
    #softwareBanner .innerContainer h4 {
      color: #43D7F1; }
    #softwareBanner .innerContainer p {
      color: #F8F9FA; }
    #softwareBanner .innerContainer a.button {
      text-transform: uppercase;
      padding: 10px;
      color: #ffffff;
      margin: 10px; }
    #softwareBanner .innerContainer a.whiteButton {
      color: #717171;
      background-color: #D9D9D8;
      background: linear-gradient(to top, #D9D9D8, #FFFFFF); }
    #softwareBanner .innerContainer a.blueButton {
      background-color: #202D36;
      background: linear-gradient(to top, #202D36, #5F7B8C); }

.sliderAllContainer .oneSlide {
  height: 459px;
  background-image: url("../images/sliderFirstBanner.png");
  background-size: cover; }

/*# sourceMappingURL=main.css.map */
