
@import 'variables';

@import 'classes';

body{}

.logo{ max-width: 100%;}

#topPageIconsBar{float:right;
background-image:url('../images/cornerImg.png');
  background-repeat: no-repeat;
  background-position: left;
  background-size: 40px 100%;
}


.mainMenu li a span{ color:$darkFontColor;}


#pricesLine{

background-color:#32302f;
.oneSymbolPrice{
  float:left;
  padding:3px;

  i.up{
    color:green;
  }
  i.down{
    color:red;
  }
  label{ color:#c7462e; margin:0px;}
  span{
    color:$liteFontColor;

  }

}
}


#openAccountButtonsContainer{
  margin-top:15px;
  margin-bottom:30px;
  .button{ width:40%;}
  .liteButton{margin-left:10%; }
}






#mapGroupContainer{
  display:inline-block;
  background-color:#F2F2F2;
#leftImgContainer{

img{
max-width:100%;
}
}

.oneGroup{
  padding:20px;
span{
  float:left;
  margin:0px 10px 10px 0px;
  display:block;
  font-size:40px;
  img{max-width: 40px; height: auto;}
}
h6{ color:$mainColor;}
p{ margin:5px 0px;

  padding-left: 50px;}
}

  .mainGroup{}
}

#rightGroupsContainer{
}





.oneDescriptionWithButton{
  img{
    float:left;
    width:50px;
    margin:10px;
  }
  h6{}
  p{}
  a{
    display: block;
    width: 150px;
    margin: auto;
  }

}


#softwareBanner{

  margin:50px 0px;
  margin-bottom:150px;
  background-image:url('../images/platformsBackground.png');
height:267px;
  padding-top:50px;

    .innerContainer{
      background-image: url(../images/computerPlatforms.png);
      background-size: 451px 270px;
      background-position: right 40px;
      background-repeat: no-repeat;
      display: inline-block;
      margin-top: 20px;
      padding-top: 70px;
      height: 270px;
      margin-bottom: -80px;
      padding-right: 405px;
        h4{color:#43D7F1;}
        p{color:#F8F9FA;}

      a.button{ text-transform: uppercase;
      padding:10px;
        color:#ffffff;
        margin:10px;
      }
        a.primaryButton{}

        a.whiteButton{color:#717171; background-color:#D9D9D8;//#D9D9D8 to #FFFFFF
          background: linear-gradient(to top,#D9D9D8,#FFFFFF);
        }

        a.blueButton{background-color:#202D36; //#202D36 to #5B788A
          background: linear-gradient(to top,#202D36, #5F7B8C);
        }
}
}


@import 'slider';